mark.agreeable-highlight {
    background-color: transparent !important;
    color: inherit !important;
    position: relative;
    display: inline-block;
    z-index: 0; /* ensure it stacks under text */
    overflow: hidden;
    cursor: pointer;
}

mark.agreeable-highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 207, 0, 0.4) !important;
    z-index: -1; /* so text is on top */
    transform: translateX(-100%);
    animation: highlightSweep 1s ease-out forwards;
    transition: background-color 0.1s ease;
}

mark.agreeable-highlight.clicked::before {
    background-color: rgba(255, 207, 0, 0.7) !important;
    transform: translateX(0%);
    animation-play-state: paused;
}

mark.agreeable-highlight:not(.clicked):hover::before {
    background-color: rgba(255, 207, 0, 0.7) !important;
}


@keyframes highlightSweep {
    to {
        transform: translateX(0%);
    }
}